* {
    border: 1px red solid;
}

body {
    padding: 10px;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.main .cookie {
    background-color: #5990a8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.main .cookie img {
    width: 100%;
    transition: 0.2s;
}

.image.active img{
    transform: scale(0.9);

}

.main .cookie input {
    text-align: center;
    margin: 10px;
    border: none;
    border-radius: 30px;
    background-color: transparent;
    outline: none;

}

.main .cookie .image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .cookie a {
    padding: 10px;
}

.main .add {
    background-color: bisque;
    text-align: center;
}

.main .container {
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .container button {
    padding: 20px;
    border-radius: 30px;
    transition: 0.3s;
}
.main .container button.active {
    
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .main {
        grid-template-columns: 1fr;
    }

    .main .cookie {
        padding: 0;
    }
}