/* * {
    border: 1px red solid;
} */

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
    background-color: #5990a8;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.main .cookie {
    background-color: #5990a8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    background-image: url(./images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "VT323", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: white;
}

.main .cookie img {
    width: 100%;
    transition: 0.25s;
    padding: 40% 0 40% 0;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.image.active img{
    transform: scale(0.8);
}

.main .cookie input {
    text-align: center;
    margin: 10px;
    border: none;
    border-radius: 30px;
    background-color: transparent;
    outline: none;
    font-family: "VT323", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: white;
}

.main .cookie .image {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main .cookie a {
    padding: 10px;
}

.main .add {
    text-align: center;
    margin-bottom: 1%;
    border-left: 2px #000000 solid;
    /* background-image: url(./images/bg2.jpg); */
    background-position: center;
    background-repeat: no-repeat;
}

.main .container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
    border-left: 2px #000000 solid;
    background-image: url(./images/wood.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.buttons {
  gap: 10px;
}

.boutique {
  text-align: center;
  background: linear-gradient(#000000, #6767677f);
  color: white;
  border: 2px #000000 solid;
  font-family: "VT323", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  color: white;
}

.main .container .buttons button {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  padding: 20px;
  border-bottom: 1px rgba(99, 99, 99, 0.651) solid;
  align-items: center;
  box-shadow: 10px 10px 10px black;
  font-family: "VT323", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: rgb(0, 0, 0);
}

.main .container .buttons button p{
  font-size: 40px;
  padding: 0;
  margin: 0;
}

.main .container .buttons button img{
  width: 100%;
}

.case-title {
  background-image: url(./images/grass.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px #000000 solid;
  font-family: "VT323", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  color: white;
}

.add .conter .case {
  display: none;
  padding: 10%;
  background-color: aqua;
  align-items: center;
  gap: 10px;
  border: 1px black solid;
}

.add .conter .case img{
  width: 10%;
}

#add2 {
  background-color: bisque;
}

#add3 {
  background-color: rgb(255, 202, 137);
}

#add4 {
  background-color:coral;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  min-height:100px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

@media (max-width: 768px) {
    
    body {
      overflow: scroll;
    }
  
    .main {
        grid-template-columns: 1fr;
    }

    .main .cookie {
        padding: 0;
    }

    .content {
      height:30vh;
    }
    h1 {
      font-size:24px;
    }
}